# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
webapp/node_modules
/.pnp
.pnp.js

# testing
/coverage

# database
/prisma/db.sqlite
/prisma/db.sqlite-journal
db.sqlite

# next.js
webapp/.next/
/.next/
webapp/out/
/out/
next-env.d.ts

# production
/build
webapp/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
# do not commit any .env files to git, except for the .env.example file. https://create.t3.gg/en/usage/env-variables#using-environment-variables
.env
.env*.local
webapp/.env
webapp/.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# idea files
.idea
webapp/src/lib/rnv/arx
webapp/src/lib/rnv/arx.o
webapp/src/lib/rnv/ary.o
webapp/src/lib/rnv/drv.o
webapp/src/lib/rnv/dsl.o
webapp/src/lib/rnv/dxl.o
webapp/src/lib/rnv/er.o
webapp/src/lib/rnv/ht.o
webapp/src/lib/rnv/librnv.a
webapp/src/lib/rnv/m.o
webapp/src/lib/rnv/rn.o
webapp/src/lib/rnv/rnc.o
webapp/src/lib/rnv/rnd.o
webapp/src/lib/rnv/rnl.o
webapp/src/lib/rnv/rnv
webapp/src/lib/rnv/rnv.o
webapp/src/lib/rnv/rnx.o
webapp/src/lib/rnv/rvp
webapp/src/lib/rnv/rvp.o
webapp/src/lib/rnv/rx.o
webapp/src/lib/rnv/s.o
webapp/src/lib/rnv/sc.o
webapp/src/lib/rnv/test
webapp/src/lib/rnv/test.o
webapp/src/lib/rnv/u.o
webapp/src/lib/rnv/xcl.o
webapp/src/lib/rnv/xmlc.o
webapp/src/lib/rnv/xsd.o
webapp/src/lib/rnv/xsd_tm.o
webapp/src/lib/rnv/xsdck
webapp/src/lib/rnv/xsdck.o
webapp/src/hierarchyGenerator/32005-main/sources/generated/parent-list.adoc
webapp/src/hierarchyGenerator/32005-main/sources/generated/structure-relationships.adoc
webapp/src/hierarchyGenerator/32005-main/sources/generated/structure-relationships.json
